table tr th {
    border-bottom: 1px solid gray;
    padding: 1%;
    text-align: center;
}
.tbl-30{
    width: 30%;
}
.tbl{
    width: 100%;
}
table tr td{
    padding: 2%;
}
.btn-third{
    padding: 1%;
    margin: 1%;
    background-color:red;
    color: whitesmokes;
    border: none;
    text-decoration: none;
    font-weight: bold;
}
.btn-second{
    padding: 1%;
    background-color:rgb(172, 127, 255);
    color:whitesmoke;
    border: none;
    text-decoration: none;
    font-weight: bold;
}
.btn-first{
    padding: 1%;
    background-color:greenyellow;
    color: green;
    border: none;
    text-decoration: none;
    font-weight: bold;
}
.success{
    color: green;
}
.error{
    color: red;
}
.rounded-img{
    width: 40px;
    border-top-left-radius: 50% 50%; border-top-right-radius: 50% 50%; border-bottom-right-radius: 50% 50%; border-bottom-left-radius: 50% 50%;
    
}
